RewriteEngine on
RewriteBase /

# Escludi tutte le richieste che puntano alla cartella /public
RewriteCond %{REQUEST_URI} !^/public/

# Riscrivi tutte le altre richieste su index.php
RewriteRule ^(.*)$ index.php [QSA,L]
